version: "3.9"

services:
  db:
    image: postgres:16
    container_name: angularspringoracle-db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: YourPassword123
    ports:
      - "5432:5432"

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/appdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: YourPassword123
    ports:
      - "8080:8080"

  flyway:
    image: flyway/flyway
    command: -url=jdbc:postgresql://db:5432/app -user=postgres -password=pass migrate
    volumes:
      - ./db/migration:/flyway/sql
    depends_on:
      - db

  frontend:
    image: node:20-alpine
    working_dir: /usr/src/app
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npm install && npm run start -- --host 0.0.0.0 --poll 2000"
    ports:
      - "4200:4200"
    depends_on:
      - api

volumes:
  postgres-data:
